<footer class="site-footer">
  <div class="wrapper">
    <section class="info">
        <a href="http://www.uno.edu" title="UNO Homepage"><img alt="UNO logo" src="/assets/img/sprites/uno_logo.png" width="309.5" height="90.5"></a>
        <div class="float-right">
            <p>
                East Engineering Builing Room E4255 <br>
                Virginia Commonwealth University<br>
                401 W Main St, Richmond, VA 23284
            </p>
        </div>
    </section>
    <section class="navigation">
        <p>
        {% assign navbar-elements = (site.pages | sort: 'navbar-index')%}
        {% for nav in navbar-elements %}
            {% if nav.title %}
            <a class="page-link" href="{{ nav.url | prepend: site.baseurl }}">{{ nav.title }}</a>
            {% endif %}
        {% endfor %}
        </p>
    </section>
    <section class="copy">
        <p>&copy; 2019 Security and Forensic Engineering Lab</p>
        <p class="me"><a>design by Rohan Ray</a></p>
    </section>
  </div>
</footer>
