<footer class="site-footer">
  <div class="wrapper">
    <section class="info">
        <a href="http://www.uno.edu" title="UNO Homepage"><img alt="UNO logo" src="/assets/img/sprites/uno_logo.png"></a>
        <div class="float-right">
            <p>
                Math Building Room 307, University of New Orleans<br>
                2000 Lakeshore Drive, New Orleans, LA 70148
            </p>
        </div>
    </section>
    <section class="navigation">
        <p>
        {% assign navbar-elements = (site.pages | sort: 'navbar-index')%}
        {% for nav in navbar-elements %}
            {% if nav.title %}
            <a class="page-link" href="{{ nav.url | prepend: site.baseurl }}">{{ nav.title }}</a>
            {% endif %}
        {% endfor %}
        </p>
    </section>
    <section class="copy">
        <p>&copy; 2016 {{ site.title }}</p>
        <p class="me"><a href="http://nishan.rayamajhee.com">design by nishan.rayamajhee</a></p>
    </section>
  </div>
</footer>
