---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i';

@charset "utf-8";



// Our variables
$base-font-family: Lato, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #f7f7f7;
$brand-color:      #003768;
$link-color:       lighten($brand-color, 25%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        960px;


$mobile:           480px;
$tablet:           720px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin on-tablet() {
   @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin on-mobile() {
   @media screen and (max-width: $mobile) {
        @content;
    }
}

@mixin on-laptop() {
   @media screen and (min-width: $tablet) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "custom",
        "slick",
        "slick-theme"
;
